<div class="relative isolate px-4 pt-14 lg:px-8 max-w-xl mx-auto">
  <div class=" mt-20 flex flex-col items-center">
    <%=image_tag("avatar-bw.png", alt: "Example Image", class: "size-16 rounded-full mb-8")%>
    <p class="text-md text-center text-gray-700">I am thinking of a random footballer. Try to guess who it is by asking yes or no questions.</p>

    <div class="w-full">
      <%= render "rounds/result", round: @round, response: nil %>
    </div>
    

    <%# render "rounds/tries" %>

    <%= render "rounds/form" %>

    <div class="text-left w-full mt-7">
      <%= link_to 'Restart game', new_round_path, class: "block text-blue-500 text-sm" %>
    </div>

  </div>
</div>