<div class="relative isolate px-4 pt-14 lg:px-8 max-w-xl mx-auto">
  <div class=" mt-20 flex flex-col items-center">
    <%=image_tag("avatar-bw.png", alt: "Example Image", class: "size-16 rounded-full mb-8")%>
    <p class="text-md text-center text-gray-700">I am thinking of a mystery footballer. Try to guess who it is by asking yes or no questions.</p>
    <div class="w-full">
      <%= render "rounds/result", round: @round, response: nil, result: "success" %>
    </div>
    
    <%= render "rounds/controls", round: @round %>

  </div>
</div>